@tailwind base;
@tailwind components;
@tailwind utilities;

.structure{
  max-width: 100%;
  min-height: 100vh;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  /* background: url("/background.jpg"); */
  justify-content: space-between;
  object-fit: cover;
  z-index: -2;

}
