.container{
    display:flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom, #222831 , #00ADB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}
.links{
    display:flex;
   gap:30px;
   align-items: center;
}